/*Admin*/
/* line 6, ../../../app/assets/stylesheets/admin/books.css.scss */
#admin-books {
  margin-top: 100px;
}

/* line 10, ../../../app/assets/stylesheets/admin/books.css.scss */
#edit_book_2 {
  height: 200px;
}
/* line 12, ../../../app/assets/stylesheets/admin/books.css.scss */
#edit_book_2 input {
  display: block;
}

/* line 16, ../../../app/assets/stylesheets/admin/books.css.scss */
.sp-container *:empty:not(img):not(input):not(br), .sp-container br + br, .sp-container creator, .sp-container .pgheader, .sp-container hr, .sp-container .copyright, .sp-container .tnote, .sp-container .toc, .sp-container #pgepubid00003, .sp-replacer *:empty:not(img):not(input):not(br), .sp-replacer br + br, .sp-replacer creator, .sp-replacer .pgheader, .sp-replacer hr, .sp-replacer .copyright, .sp-replacer .tnote, .sp-replacer .toc, .sp-replacer #pgepubid00003 {
  display: block;
  height: auto;
  width: auto;
}

/* line 23, ../../../app/assets/stylesheets/admin/books.css.scss */
#new {
  background: white;
  padding: 5px;
  border: 1px solid black;
  width: 200px;
}
