/* line 1, ../../app/assets/stylesheets/global.css.scss */
body {
  min-height: 100%;
  background-color: #fafafa;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: "minion-pro", "adobe-jenson-pro", georgia;
  font-weight: 400;
  font-size: 1em;
  color: #4e4e4e;
  margin: 0;
}

/* line 14, ../../app/assets/stylesheets/global.css.scss */
#readlit_logo {
  margin: 2em 0 1.5em;
  width: 100%;
  text-align: center;
}
/* line 18, ../../app/assets/stylesheets/global.css.scss */
#readlit_logo img {
  width: 33.33%;
  height: auto;
}

/* line 24, ../../app/assets/stylesheets/global.css.scss */
.container {
  margin-top: 125px;
}

/* line 28, ../../app/assets/stylesheets/global.css.scss */
.inline {
  display: inline;
}

/* line 32, ../../app/assets/stylesheets/global.css.scss */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0px 10px 10px;
  width: 100%;
  background-color: #fafafa;
}
/* line 40, ../../app/assets/stylesheets/global.css.scss */
#nav .nav-right {
  float: right;
  display: inline;
}
/* line 46, ../../app/assets/stylesheets/global.css.scss */
#nav #messages {
  margin-left: 35%;
}
/* line 51, ../../app/assets/stylesheets/global.css.scss */
#nav #link_home {
  margin-left: 10px;
  display: inline;
  float: left;
}
/* line 55, ../../app/assets/stylesheets/global.css.scss */
#nav #link_home img {
  display: inline;
  width: 150px;
}
/* line 61, ../../app/assets/stylesheets/global.css.scss */
#nav #admin-email, #nav #admin-sign-out {
  font-size: .6em;
  margin-right: 20px;
  padding: none;
  margin-: 0px;
}

/* line 71, ../../app/assets/stylesheets/global.css.scss */
a {
  color: #447484;
  text-decoration: none;
}
