.index
	.row
		#intro
			%h5 Who I am
			%p I am a technology aficionado.
			%p My passion lies in creating useful, polished, usable products.
			%p I develop software, primarily for the web.
	.row
		#portfolio-teaser
			%h5 What I've accomplished
			%p 
				For past work, please
				%a{href: 'portfolio.html'}view my portfolio.
	.row
		#personal
			%ul 
				%h5 
					When I'm not in front of my computer, 
					%br
					I am most likely
				%li Preparing for and completing Tough Mudders and other races.
				%li Biking on roads with a single fixed gear or on mountains with many gears.
				%li Watching or playing sport, preferably Soccer or Volleyball.
				%li 
					Reading and studying an all time best selling
					%a{href: 'https://www.youversion.com/bible/12/jhn.1.asv'}book.
	.row
		#contact
			%h5 To contact me
			%p Feel free to utilize any of the methods listed here.

	.row
		#quote
			%h5
				"It eluded us then, but that’s no matter—tomorrow we will run faster, stretch out our arms farther... And then one fine morning-"
			%p.italic -F. Scott Fitzgerald
		#quote
			%h5
				In all toil there is profit, but mere talk tends only to poverty.
			%p.italic 
				%a{href: 'https://www.youversion.com/bible/12/pro.14.asv'}
					Proverbs 14:23 ESV