.portfolio
	.row
		%h2.title
			portfolio
	.row
		%h5 Custom Podio Integration
		%img.thumbnail{src: 'images/portfolio/torontocondo.png'}
		%p Tech: Ruby on Rails, Postgres, Heroku, HTML5, CSS3, Bootstrap
	.row
		%h5 Custom Podio Dashboard
		%img.thumbnail{src: 'images/portfolio/sheets.png'}
		%p Tech: Ruby on Rails, Postgres, Heroku, HTML5, JQuery, CSS3, Bootstrap
	.row
		%h5 Knodes Ruby Client Library
		%a{href: 'http://github.com/matthewrossanderson/knodes-client', target: '_new'}
			%img.thumbnail.spacing{src: 'images/portfolio/knodes.png'}
		%p Tech: Ruby, Faraday, Knodes API
		%a{href: 'http://github.com/matthewrossanderson/knodes-client', target: '_new'}View on GitHub
		%br
		%a{href: 'http://knod.es/', target: '_new'}View Knodes/
	.row
		%h5 Que.io
		%img.thumbnail.spacing{src: 'images/portfolio/queio.png'}
		%p Tech: Ruby on Rails, MySQL, HTML5, JQuery, CSS3
	.row
		%h5 We Had A Moment
		%a{href: 'http://wehadamoment.com', target: '_new'}
			%img.thumbnail{src: 'images/portfolio/wham.png'}
		%p Tech: iOS, .NET, HTML5, CSS3
		%p Responsibilities: Product Management, Technical Project Management
		%a{href: 'http://wehadamoment.com', target: '_new'}View Website
		%br
		%a{href: 'https://itunes.apple.com/us/app/wehadamoment/id589796761?mt=8', target: '_new'}View on App Store
	.row
		%h5 Volant Trading
		%img.thumbnail{src: 'images/portfolio/volant.png'}
		%p Tech: HTML5, CSS3, Bootstrap
	.row
		%h5 Wild Adriatic
		%img.thumbnail{src: 'images/portfolio/wilda.png'}
		%p Tech: WordPress, Thesis Framework, HTML5, JQuery, CSS3
		%a{href: 'http://wildadriatic.com', target: '_new'}View Website
	.row
		%h5 Black Squirrel
		%img.thumbnail{src: 'images/portfolio/bsquirrel.png'}
		%p Tech: WordPress, HTML5, CSS3
		%a{href: 'http://blacksquirrelinc.com', target: '_new'}View Website
	.row
		%h5 LinkOverload
		%img.thumbnail{src: 'images/portfolio/linkoverload.png'}
		%p Tech: Ruby on Rails, Postgres, Heroku, HTML5, CSS3, Bootstrap
	.row
		%h5 Greek Marketplace
		%img.thumbnail{src: 'images/portfolio/greekmarketplace.png'}
		%p Tech: BigCommerce, HTML, JQuery, CSS
		%a{href: 'http://greekmarketplace.net', target: '_new'}View Website